@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Work Sans', sans-serif;
}

html, body{
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
}

body{
    max-width: 1536px !important;
}

/* footer */
.footer-box{
    border-bottom: 1px solid white;
}

/* hero search icon */
.search-icon{
    left:2.3%;
    bottom: 24%;
}

.convex{
    left:26%;
    top: 35%;
}
.concave{
    right:26%;
    top: 47%;
}

.right-curve{
    top: 28%;
    right: 0%;
}

.left-curve{
    bottom: 28%;
    left: 0%;
}

.booster-holder h1, .booster-holder p{
    color:white !important;
}

/* styles for carousel */
.swiper-container{
    width:100%;
    height:auto !important;
    padding-bottom: 100px !important;
    position: relative;
}

.swiper-wrapper{
    padding-inline-start: 0;
}

.swiper-button-prev{
    background-color: white !important;
    color:black !important;
    position: absolute !important;
    top: 80% !important;
    left:83% !important;
}
.swiper-button-next{
    background-color: white !important;
    color:black !important;
    position: absolute !important;
    top: 80% !important;
    right:10% !important;
}

.download-holder{
    background-image: url('../public/images/pattern.svg');
    background-repeat: no-repeat;
    background-position: top 2% right 0;
    background-size: contain;
}


@media screen and (min-width:1536px){
    body{
        margin:0 auto;
    }
}
@media screen and (max-width:945px){
    .swiper-button-prev{
        top: 80% !important;
        left:77% !important;
    }
    .swiper-button-next{
        top: 80% !important;
        right:4% !important;
    }
}
@media screen and (max-width:600px){
    .swiper-button-prev{
        top: 93% !important;
        left:73% !important;
    }
    .swiper-button-next{
        top: 93% !important;
        right:1% !important;
    }
}

@media screen and (max-width:768px){
    .download-holder{
        background-image: none;
    }
}

